@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'silka_monoregular';
  src: url('../assets/fonts/silkamono-regular-webfont.eot');
  src: url('../assets/fonts/silkamono-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/silkamono-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/silkamono-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'silka_monoregular';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
